.container-list {
    .header {
      margin: 10px 0px;
    }
    margin: 10px 15px !important;
    .item-list {
      .item-lable {
        font-size: 14px !important;
        margin: 5px 0px !important;
      }
      .ui.input {
        width: 100% !important;
      }
    }
  }